
#logo {
  width: 50px;
}

.navbar {
    background-color: white;
}

.navbar-brand {
    color: black;
    font-family: "Brush Script" !important;
    font-weight: 700;
}

.nav-item {
    font-size: 15px;
    padding: 5px;
}

.nav-item .nav-link {
    text-decoration: none !important;
    color: black !important;
    font-weight: 700 !important;
    font-size: 18px;
}

.nav-link:hover {
    background-color: rgb(248, 158, 39);
    color: white !important;
    border-radius: 10px;
}


#head {
    margin-top: 20px;
}
#content {
    margin-top: 20px;
}
.card {
    border: none !important;
}

#contentdetail {
    margin-left: 0px;
    text-align: justify;
    text-indent: 80px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

#gifimg {
    width: 600px;
    margin-left: 0px;
}

#slider {
    width: 100%;
}


#services {
    width: 100%;
    margin-top: 20px;
    margin-left: 0px;
   
}

#imgs {
    margin: auto;
    width: 25%;
}

.card-title  {
    font-weight: 700;
}

#head2 {
  font-weight: 700  ;
}

#services-text {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    text-indent: 80px;
}


/* For Mobile Devices */

@media screen and (max-width:767px) {

    #head {
        font-size: 20px;
    }

    #content {
        margin-top: 10px;
    }

    #gifimg {
        width: 500px;
        margin-left: 0px;
    }
    
    #contentdetail {
        margin-top: 10px;
        margin-left: 0px;
        text-align: justify;
        /* text-indent: 50px; */
        font-size: 15px;
    }

    #services {
        width: 100%;
        margin-top: 10px;
        margin-left: 0px;
    }

    .card {
    margin-left: 0px;
    }
   

    #head2 {
      font-size: 20px;
    }

    #services-text {
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif;
        text-align: justify;
        text-indent: 50px;
        margin-left: 0px;
    }
    
    #imgs {
      width: 25%;
    }

    #hours {
      margin-left: -20px;
      font-size: 14px;
    }


    .address1 li {
      margin-left: -30px !important;
      list-style: none;
      font-size: 14px;
      /* position: relative; */
      /* padding: 0px 0 14px 34px; */
      /* line-height: 26px; */

     
    }
  
}






/* Footer starts */
  
  
  
 footer {
    color: #fff;
  }
  ul {
    padding: 0px;
  }
  ol, ul {
    margin-bottom: 0px;
  }
  
  .social-icon {
    padding: 0;
    margin-bottom: 0px;
    float: right;
  }
  
  .social-icon li {
    list-style: none;
    display: inline-block;
  }
  .social-icon li i {
    font-size: 14px;
    color: #262725;
    border: solid 2px #ffffff;
    height: 31px;
    width: 31px;
    text-align: center;
    vertical-align: middle;
    border-radius: 100px;
    line-height: 27px;
    margin-right: 15px;
    transition: 1s;
    background: #fff;
  }
  .social-icon li i:hover {
    border: solid 2px #262725;
    color: #ffffff;
    background: #262725;
  }
  .phone-no h2 {
    color: #fff;
    font-family: PlayfairDisplay-Black;
    font-size: 34px;
    font-weight: bold;
  }
  .phone-no i {
    position: relative;
    margin-right: 14px;
    font-size: 25px;
    top: 5px;
  }
  .phone-no {
    margin-top: -20px;
    text-align: right;
  }
  .footer-day-time {
    padding-bottom: 30px;
    border-bottom: 2px solid #7a6f6f;
    padding-top: 14px;
    margin-bottom: 55px;
  }
  .footer-day-time ul li {
    display: inline;
    margin-right: 20px;
  }
  .footer-day-time ul li:last-child {
    margin-right: 0px;
  }
  .footer-top {
    background: #2f2f2f;
    padding:30px 0 30px;
  }
  .footer-top h4 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .footer-top p {
    font-size: 15px;
    line-height: 2;
  }
  
  footer p {
  margin-bottom:0;
  }
  .footer-logo {
    display: block;
    margin-bottom: 32px;
  }
  .address1 li {
    list-style: none;
    position: relative;
    padding: 0px 0 14px 34px;
    line-height: 26px;
  }
  /* ul.address1 span {
    position: absolute;
    width: 40px;
    max-width: 40px;
    left: 0;
    float: left;
  } */
  .address1 li a {
    color: #fff;
    text-decoration: none;
  }
  ul.address1 i {
    width: 20px;
    position: absolute;
    left: 0px;
    text-align: center;
    font-size: 28px;
    
  }
  
  /* ul.address1 i.fa-envelope {
    font-size: 18px;
    top: 4px;
  } */
  footer ul.social-icon {
    float: left;
  }
  footer .social-icon li i:hover {
    background: #4b8800;
    border-color: #4b8800;
  }
  
  .footer-bottom {
    background: #e75b5b;
    padding: 10px 0px;
    font-weight: 700;
  }
  .footer-bottom ul li {
    display: inline;
    margin-right: 20px;
    font-size: 18px;
  }
  .footer-bottom ul li a{
    color:#fff;
  }
  
  .footer-bottom ul {
    float: right;
  }
  
  .footer-bottom ul li:last-child {
    margin-right: 0;
  }
  .copyright {
    font-size: 18px;
  }
  